/* Cross Browser Support */
* {

  margin: 0;
  padding: 0; 
  box-sizing: border-box;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
  
  height: 100%;
}

#curtains {

    min-height:100%;
    height:auto;
    position: relative;
}

.header {

  width: 100%;
  height: 203px;
  background-image: url(../images/header-image.png);
  background-repeat: round;
  position: relative;
}

/*Home page slide portion*/

.carousel-control.right,
.carousel-control.left {

  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0, rgba(0,0,0,0) 100%);
  
}

/* header part css*/

.navbar-default {

  background-color: #fff;
  border-color: #fff;
  height: 80px;
  margin-top: 53px;
  width: 100%;
  position: absolute;
}

.navbar-default .navbar-nav>li>a{

  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 35px;
  padding-right: 35px;
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {

  background-color: rgb(255, 224, 78);
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {

  background-color: rgb(255, 224, 78);
  color: #333;
}

.dropdown-menu {

  background-color: rgb(255, 224, 78);
}

.dropdown-menu>li>a {

 font-size: 16px;
 padding-top: 5px;
 padding-bottom: 5px;
 text-align: center;

}



/* main body part */

.main h1:first-child {
  font-size: 39px;
}



/* media Screen */

/* Extra small devices (phones, less than 768px) */
 @media (max-width: 420px) {

 }


@media only screen and (max-width: 767px){

.carousel-control img {
    max-width: 100%;
  }

}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1199px) {
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

