
<div ng-include="'templates-common/header.html'"></div>

<div class="container main-body">
	<div class="main">
		<h1>Carpet Cleaning</h1>
		<h1>PRICE IS WHAT YOU PAY, VALUE IS WHAT YOU GET</h1>
	</div>
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="images/slide.png" alt="Slide Image">
					</div>
					<div class="col-md-6">
						<p>I can tell you right now that I am not the cheapest cleaner in town but my prices are reasonable, my work top-rate and my service extraordinary.</p>
						<h5>~ Gary Larson </h5>
						<h6>Owner &amp; Operator since 1997</h6>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="images/slide.png" alt="Slide image">
					</div>
					<div class="col-md-6">
						<p>I can tell you right now that I am not the cheapest cleaner in town but my prices are reasonable, my work top-rate and my service extraordinary.</p>
						<h5>~ Gary Larson </h5>
						<h6>Owner &amp; Operator since 1997</h6>
					</div>
				</div>
			</div>
		
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<img src="images/left-arrow.png">
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<img src="images/right-arrow.png">
		</a>
	</div>
	
	<!-- Main Body -->
	<h4>Carpet Cleaning includes:</h4>
	<div class="col-md-6">
		<ul>
		    <li>• Pre-vacuum with a commercial grade vacuum</li>
	        <li>• Moving most furniture in the living area</li>
	        <li>• Heavy duty pre-spray emulsifier on all areas to remove oily soil and pollutants</li>
	        <li>• Thorough agitation with pile lifting groomer to suspend soils for removal</li>
	        <li>• Super powerful hot water extraction cleaning and rinse</li>
	        <li>• Wash baseboards and floor vents</li>
	        <li>• Pre-spotting for all difficult stains</li>
	        <li>• Furniture replaced on styrofoam blocks to prevent carpet staining</li>
		</ul>
	</div>
	<div class="col-md-5 col-md-offset-1">
	    <ul>
		    <li>• Renew carpet protection, a 20 cent per sq ft value</li>
            <li>• Final grooming to set pile and speed drying</li>
            <li>• Complete inspection to insure your 100% satisfaction</li>
            <li>• Free specialty spot remover for a year</li>
            <li>• Free shoe covers to protect carpet while drying</li>
            <li>• Referral reward program</li>
            <li>• Reminder Service</li>
            <li>• All this for .37 cents a sq ft</li>
		</ul>
	</div>

</div>
<div ng-include="'templates-common/footer.html'"></div>  

<script>
	$('.carousel').carousel({
	  interval: 2000
	})
</script>